    <!-- end content -->
    </div>
  </div>

  <!-- hidden inline forms -->
  <div id="addFavoriteModal" class="inlinemodal">
    <h2>Save Current Search</h2>
    <form id="addFavoriteForm" action="/api/favorites" method="post" name="addFavoriteForm">
      <label for="addFavoriteInput">Favorite Name</label>
      <input id="addFavoriteInput" class="modaltxt" name="addFavoriteInput" />
      <!--<label for="addFavoriteOpt">Group Name</label>
      <select id="addFavoriteOpt" name="addFavoriteOpt"><option>personal</option><option>default</option></select>-->
      <button id="addFavoriteButton" class="btn btn-primary">Save</button>
    </form>
  </div>
<<<<<<< HEAD

  <div id="openFavoriteModal" class="inlinemodal">
    <h2>Open a Favorite</h2>
    <form id="openFavoriteForm" action="/api/favorites" method="get" name="openFavoriteForm">
      <select name="openFavoriteSelect" id="openFavoriteSelect" class="favoriteSelect">
        <option>select a favorite</option>
      </select>
      <label></label>
      <button id="openFavoriteButton" class="btn btn-primary">Open</button>
    </form>
  </div>

  <div id="deleteFavoriteModal" class="inlinemodal">
    <h2>Delete a Favorite</h2>
    <form id="deleteFavoriteForm" action="/api/favorites" method="get" name="deleteFavoriteForm">
      <select name="deleteFavoriteSelect" id="deleteFavoriteSelect" class="favoriteSelect">
        <option>select a favorite</option>
      </select>
      <label></label>
      <button id="deleteFavoriteButton" class="btn btn-danger">Delete</button>
    </form>
  </div>

=======
>>>>>>> mongo storage, user_ldap, favorite saving,
  </body>
</html>
