    <!-- end content -->
    </div>
  </div>

  <!-- hidden inline forms -->
  <div id="addFavoriteModal" class="inlinemodal">
    <h2>Save Current Search</h2>
    <form id="addFavoriteForm" action="/api/favorites" method="post" name="addFavoriteForm">
      <label for="addFavoriteInput">Favorite Name</label>
      <input id="addFavoriteInput" class="modaltxt" name="addFavoriteInput" />
      <label for="addFavoriteOpt">Group Name</label>
      <select id="addFavoriteOpt" name="addFavoriteOpt"><option value="1">My Search</option>
	</select>
      <button id="addFavoriteButton" class="btn btn-primary">Save</button>
    </form>
  </div>
  <div id="addError"></div>
  </body>
</html>
